.header__menu {
  position: absolute;
  left: 0;
  top: calc(100%);
  width: calc(30%);
  height: 400px;
  padding: .5rem 1rem;
  background-color: #ffffff;
  border: 1px solid rgba(105, 108, 117, .1);
  transition: visibility .2s linear, opacity .2s linear;
}

.menu__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__photo {
  width: 80px;
  height: 80px;
  margin-bottom: .5rem;
  border: 1px solid #1b83f2;
  border-radius: 50%;
}

.menu__options {
  margin-top: 1rem;
  font-size: .8rem;
}

.menu__options-flex {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.menu__options-icon {
  margin-right: .5rem;
  color: #696c75;
}

.menu__options-title {
  cursor: pointer;
  color: #1b83f2;

  &:hover {
    text-decoration: underline;
  }
}
