.find-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .5rem .2rem .5rem;
}

.find-card__info {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.find-card__photo {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: .2rem;
  border: 1px solid #1b83f2;
  border-radius: 50%;
  overflow: hidden;

  &.transparent {
    border: none;
  }

  img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
  }
}

.find-card__name {
  font-size: .8rem;
}

.find-card__btn {
  border: none;
  outline: none;
  padding: .2rem .5rem;
  border-radius: 5px;
  color: #f9f9f9;
  cursor: pointer;
}

.find-card__add {
  background-color: #2E8B57;
}

.find-card__delete {
  background-color: #B22222;
}
