.contacts__filter {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  padding-right: .2rem;
  background-color: #696c75;

  span {
    color: #f9f9f9;
  }
}

.filter__input {
  display: block;
  width: 100%;
  height: 1.5rem;
  padding: .2rem .2rem .2rem .5rem;
  outline: none;
  border: none;
  background: none;
  background-color: #696c75;
  color: #f9f9f9;

  &::-webkit-input-placeholder {color: #f9f9f9; opacity: 1;} /* Webkit */
  &::-moz-placeholder          {color: #f9f9f9; opacity: 1;} /* Firefox 19+ */
  &:-moz-placeholder           {color: #f9f9f9; opacity: 1;} /* Firefox 18- */
  &:-ms-input-placeholder      {color: #f9f9f9; opacity: 1;} /* IE */

  &:focus::-webkit-input-placeholder {opacity: 0;} /* Webkit */
  &:focus::-moz-placeholder          {opacity: 0;} /* Firefox 19+ */
  &:focus:-moz-placeholder           {opacity: 0;} /* Firefox 18- */
  &:focus:-ms-input-placeholder      {opacity: 0;} /* IE */
}
