.contacts__card {
  display: flex;
  align-items: center;
  margin-top: .5rem;
  color: #f9f9f9;
  cursor: pointer;
}

.card__photo {
  width: 60px;
  height: 60px;
  margin-right: .2rem;
  border-radius: 50%;
  border: 1px solid #f9f9f9;
}

.card__info {
  font-size: .8rem;
}

.info__status {
  font-size: .6rem;

  &.online {
    color: #3CB371;
  }

  &.offline {
    color: #CD5C5C;
  }
}
