.contacts__card {
  display: flex;
  align-items: center;
  margin-top: .5rem;
  color: #f9f9f9;
  cursor: pointer;
}

.card__photo {
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: .2rem;
  background-color: #696c75;
  border-radius: 50%;
  overflow: hidden;

  &.transparent {
    background-color: transparent;
  }

  img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
  }
}

.card__info {
  font-size: .8rem;
}

.info__status {
  font-size: .6rem;

  &.online {
    color: #3CB371;
  }

  &.offline {
    color: #CD5C5C;
  }
}
