.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  box-shadow: 0px 1px 1px -1px rgba(67, 71, 83, .6) inset;
  -webkit-box-shadow: 0px 1px 1px -1px rgba(67, 71, 83, .6) inset;
  -moz-box-shadow: 0px 1px 1px -1px rgba(67, 71, 83, .6) inset;
}
